<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="~{fragments/layout :: head}"></div>
    <title>Trang Chủ | SpringCode</title>
</head>
<body class="bg-slate-50 text-slate-900">

    <div th:replace="~{fragments/layout :: navbar}"></div>

    <main>
        <header class="relative py-20 overflow-hidden">
             <div class="max-w-7xl mx-auto px-4 text-center">
                <h1 class="text-5xl font-extrabold text-slate-900">Build faster with <span class="text-green-600">Spring Boot</span></h1>
             </div>
        </header>
        
        </main>

    <div th:replace="~{fragments/layout :: footer}"></div>

</body>
</html>